<h1><%= @place["name"] %></h1>

<% if session[:user_id] %>
<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="link-info">New Posts</a>
</p>

<h2>My Entries</h2>

<div class="container overflow-hidden text-center">
<div class="row gx-5">
  <% for entry in @entries %>
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="p-3">
     <h3><%= entry["title"] %></h3>
     <h4><%= entry["occurred_on"] %></h4>
     <p><%= entry["description"] %></p>
      
         <%# conditionally display attached file if post.uploaded_image.attached? %>
      <% if entry.uploaded_image.attached? %>
        <%# use url_for(post.uploaded_image) as attached file's url %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
      <% else %>
        <%# otherwise display original image url from database column %>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Ftaco&psig=AOvVaw3e9a8NHoSFIp4djdiITXm6&ust=1710101969640000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCPDe0LiA6IQDFQAAAAAdAAAAABAE" class="img-fluid">
      <% end %>
      
    </div>
    </div>
  <% end %>
<% end %>
</div>
</div>

<p>
  <a href="/places" class="link-info">Back to All Places</a>
</p>